*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	overflow-x: hidden;
	line-height: 1.5;
	@include theme-styles(
		$color-light-background,
		$color-light-text,
		$color-dark-background,
		$color-dark-text
	);
}

body {
	font-family: $font-family-inter, sans-serif;
	min-height: 100svh;
	max-width: 1440px;
	width: 100%;
	overflow-x: hidden;
	margin: 0 auto;
	padding: 20px 5px;
	@include theme-styles(
		$color-light-background,
		$color-light-text,
		$color-dark-background,
		$color-dark-text
	);
}

a {
	text-decoration: none;
	color: inherit;
}

button,
input,
select,
textarea {
	font: inherit;
	background: none;
	border: none;
	outline: none;
}

ul,
ol {
	list-style: none;
}

img,
video,
iframe {
	// max-width: 100%;
	height: auto;
	display: block;
}

table {
	border-collapse: collapse;
	width: 100%;
}

caption {
	text-align: center;
}

th,
td {
	padding: 0.5em;
	text-align: left;
}

section,
article {
	display: block;
}
