@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin theme-styles($light-background, $light-text, $dark-background, $dark-text) {
  &[data-theme="light"] {
    background-color: $light-background;
    color: $light-text;
  }

  &[data-theme="dark"] {
    background-color: $dark-background;
    color: $dark-text;
  }
}

@mixin button-theme-styles($color-black, $color-light) {
  background-color: $color-black; 
  color: $color-light;

  &[data-theme="dark"] {
    background-color: $color-light; 
    color: $color-black;
  }
}




@mixin respond-to($breakpoint) {
  @if $breakpoint == 'small' {
    @media (max-width: 600px) { @content; }
  } @else if $breakpoint == 'medium' {
    @media (max-width: 900px) { @content; }
  } @else if $breakpoint == 'large' {
    @media (max-width: 1200px) { @content; }
  }
}
