// Spacing
$spacing-sm: 0.5rem; // 8px
$spacing-md: 1rem; // 16px
$spacing-lg: 2rem; // 32px
$spacing-xl: 4rem; // 64px
$spacing-section: 6.25rem; // 100px

// Colors
$color-black: #262625;
$color-beige: #F3F3F1;
$color-white: #FEFEFE;

$color-blue-mid: #77A1D1;
$color-blue-dark: #6B93C0;
$color-blue-light: #BADAFF;

$color-orange-mid: #F28164;
$color-orange-dark: #D46F55;
$color-orange-light: #FFBCAB;

$color-green-mid: #A2B87E;
$color-green-dark: #95AE6D;
$color-green-light: #ECFFCE;

$color-mustang-mid: #CAC48E;
$color-mustang-dark: #C2BB82;
$color-mustang-light: #FFFAC2;

$color-pink-mid: #F588B9;
$color-pink-dark: #D6699A;
$color-pink-light: #FFEDF5;

$color-purple-mid: #9FA8FE;
$color-purple-dark: #8A92E3;
$color-purple-light: #EBEDFF;

// Light Theme Colors
$color-light-background: $color-beige;
$color-light-text: $color-black;
$color-light-primary: $color-blue-mid;
$color-light-secondary: $color-orange-mid;

// Dark Theme Colors
$color-dark-background: $color-black;
$color-dark-text: $color-beige;
$color-dark-primary: $color-blue-dark;
$color-dark-secondary: $color-orange-dark;

// Typography
$font-family-inter: 'Inter', sans-serif;

$font-size-xxl: 10.875rem; // 174px
$font-size-xl: 7.188rem; // 115px
$font-size-l: 4.625rem; // 74px
$font-size-m: 2.5rem; // 40px
$font-size-s: 0.75rem; // 12px

$font-weight-semibold: 600;
$font-weight-bold: 700;
