// Espacement
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 64px;

// Couleurs
$black: #262625;
$beige: #F3F3F1;
$white: #FEFEFE;

$blue-mid: #77A1D1;
$blue-dark: #6B93C0;
$blue-light: #BADAFF;

$orange-mid: #F28164;
$orange-dark: #D46F55;
$orange-light: #FFBCAB;

$green-mid: #A2B87E;
$green-dark: #95AE6D;
$green-light: #ECFFCE;

$mustang-mid: #CAC48E;
$mustang-dark: #C2BB82;
$mustang-light: #FFFAC2;

$pink-mid: #F588B9;
$pink-dark: #D6699A;
$pink-light: #FFEDF5;

$purple-mid : #9FA8FE;
$purple-dark: #8A92E3;
$purple-light: #EBEDFF;


// Typographies
$font-family-inter: 'Inter', sans-serif;

$font-size-115px: 115px;
$font-size-74px: 74px;
$font-size-40px: 40px;
$font-size-12px: 12px;

$font-weight-semibold: 600;
$font-weight-bold: 700;
