<template id="cards-component">
	<div class="card">
		<div class="card__container">
			<div class="card__container--desktop">
				<img
					src="/illustrations/cards/desktop/one.svg"
					alt="Illustration"
					class="card__illustration"
				/>
				<img
					src="/illustrations/cards/desktop/two.svg"
					alt="Illustration"
					class="card__illustration"
				/>
				<img
					src="/illustrations/cards/desktop/three.svg"
					alt="Illustration"
					class="card__illustration"
				/>
				<img
					src="/illustrations/cards/desktop/four.svg"
					alt="Illustration"
					class="card__illustration"
				/>
				<img
					src="/illustrations/cards/desktop/five.svg"
					alt="Illustration"
					class="card__illustration"
				/>
				<img
					src="/illustrations/cards/desktop/six.svg"
					alt="Illustration"
					class="card__illustration"
				/>
			</div>
			<div class="card__container--mobile">
				<img
					src="/illustrations/cards/mobile/one.svg"
					alt="Illustration"
					class="card__illustration"
				/>
				<img
					src="/illustrations/cards/mobile/two.svg"
					alt="Illustration"
					class="card__illustration"
				/>
				<img
					src="/illustrations/cards/mobile/three.svg"
					alt="Illustration"
					class="card__illustration"
				/>
				<img
					src="/illustrations/cards/mobile/four.svg"
					alt="Illustration"
					class="card__illustration"
				/>
				<img
					src="/illustrations/cards/mobile/five.svg"
					alt="Illustration"
					class="card__illustration"
				/>
				<img
					src="/illustrations/cards/mobile/six.svg"
					alt="Illustration"
					class="card__illustration"
				/>
			</div>
		</div>
		<div class="card__contact">
			<p class="card__contact-headline">/ FINALE02</p>
			<div class="card__contact-content">
				<p class="card__contact-title desktop-only">
					Click &nbsp; Me &nbsp; &nbsp; ? &nbsp; &nbsp; &nbsp;Might enter the
					finals
				</p>
				<p class="card__contact-title mobile-only">
					Click &nbsp; Me &nbsp; ? Might &nbsp;&nbsp; enter the finals
				</p>
			</div>
			<img
				src="/illustrations/footer/cat-paw.svg"
				alt="Illustration cat paw"
				class="illustration cat-paw"
			/>
			<a
				href="https://www.linkedin.com/in/vasco-barreiros"
				target="_blank"
				class="card__contact-link"
			>
				<button class="card__contact-button">
					Enter Next Level
					<img
						src="/illustrations/footer/asterisk.svg"
						alt="Asterisk"
						class="icon asterisk"
					/>
					<img
						src="/illustrations/footer/flash.svg"
						alt="Balise"
						class="icon flash"
					/>
					<img
						src="/illustrations/footer/html-tag.svg"
						alt="HTML Tag"
						class="icon html-tag"
						style="z-index: 0"
					/>
				</button>
			</a>
		</div>
	</div>
</template>
